<section id="view">
    <div class="infos">
        <img src="assets/images/inicie.png" alt="logo inicie">
        <h2>Charmeleon</h2>
        <div>
            <span>Cod: #0034</span>
            <div>
                <span>Tipo:</span>
                <span class="type">Fogo</span>
            </div>
        </div>
        <div>
            <h3>Descrição</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, omnis. Sequi et cum error est pariatur ex necessitatibus in ipsum dolorum eaque, omnis illum ipsa consectetur qui facere? Ex, quod.</p>
        </div>
        <div>
            <h3>Informações</h3>
            <div>
                <span>Altura</span>
                <span>110cm</span>
            </div>
            <div>
                <span>Peso</span>
                <span>19kg</span>
            </div>
        </div>
        <div class="skill">
            <span>Vida</span>
            <span class="bar"></span>
        </div>
        <div class="skill">
            <span>Defesa</span>
            <span class="bar"></span>
        </div>
        <div class="skill">
            <span>Velocidade</span>
            <span class="bar"></span>
        </div>
        <div class="skill">
            <span>Ataque</span>
            <span class="bar"></span>
        </div>
    </div>
    <div class="img-pokemon">
        <img src="assets/images/pokemon-cards" alt="">
    </div>
</section>
